# maybe there is a better way to do it:
# https://stackoverflow.com/questions/1612733

recursive-include bctmark/ansible *
recursive-include bctmark/services *
recursive-include bctmark/files *
recursive-include bctmark/playbooks *
include LICENSE.txt
