"FABRIC_CFG_PATH"="/tmp/"
"FABRIC_LOGGING_SPEC"="DEBUG"
"ORDERER_GENERAL_LISTENADDRESS"="0.0.0.0"
"ORDERER_GENERAL_GENESISMETHOD"="file"
"ORDERER_GENERAL_GENESISFILE"="/tmp/genesis.block"
"ORDERER_GENERAL_LOCALMSPID"="OrdererMSP"
"ORDERER_GENERAL_LOCALMSPDIR"="/tmp/crypto-config/ordererOrganizations/ordererorg.example.com/orderers/{{ntw_monitoring_ip}}/msp"
"ORDERER_GENERAL_TLS_ENABLED"="true"
"ORDERER_GENERAL_TLS_PRIVATEKEY"="/tmp/crypto-config/ordererOrganizations/ordererorg.example.com/orderers/{{ntw_monitoring_ip}}/tls/server.key"
"ORDERER_GENERAL_TLS_CERTIFICATE"="/tmp/crypto-config/ordererOrganizations/ordererorg.example.com/orderers/{{ntw_monitoring_ip}}/tls/server.crt"
"ORDERER_GENERAL_TLS_ROOTCAS"="[/tmp/crypto-config/ordererOrganizations/ordererorg.example.com/orderers/{{ntw_monitoring_ip}}/tls/ca.crt]"
"ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE"="/tmp/crypto-config/ordererOrganizations/ordererorg.example.com/orderers/{{ntw_monitoring_ip}}/tls/server.crt"
"ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY"="/tmp/crypto-config/ordererOrganizations/ordererorg.example.com/orderers/{{ntw_monitoring_ip}}/tls/server.key"
"ORDERER_GENERAL_CLUSTER_ROOTCAS"="[/tmp/crypto-config/ordererOrganizations/ordererorg.example.com/orderers/{{ntw_monitoring_ip}}/tls/ca.crt]"
"ORDERER_OPERATIONS_LISTENADDRESS"="localhost:8125"
"ORDERER_METRICS_PROVIDER"="statd"
"ORDERER_METRICS_STATSD_ADDRESS"="localhost:8125"
"ORDERER_METRICS_STATSD_NETWORK"="udp"
"ORDERER_METRICS_STATSD_PREFIX"="orderer"