[Unit]
Description=Generate Ethereum transaction
After=network.target

[Service]
User=root

Type=simple
ExecStart=/usr/bin/python3 /tmp/generate_transactions.py
Restart=always
TimeoutStopSec=120s
TimeoutStartSec=20s
RestartSec=15s
StartLimitInterval=4h
StartLimitBurst=500

[Install]
WantedBy=multi-user.target