[parity]
base_path = "{{parity_home}}/.local/share/io.parity.ethereum"
db_path = "{{parity_home}}/.local/share/io.parity.ethereum/chains"
keys_path = "{{parity_home}}/.local/share/io.parity.ethereum/keys"

[network]
id = 1234567899

[websockets]
disable = false
port = 8546
interface = "all"
origins = ["all"]
apis = ["web3", "eth", "pubsub", "net", "parity", "parity_pubsub", "traces", "rpc", "shh", "shh_pubsub"]
hosts = ["all"]

[rpc]
disable = false
port = 8545
interface = "local"
cors = ["all"]
apis = ["web3", "eth", "pubsub", "net", "parity", "parity_pubsub", "traces", "rpc", "shh", "shh_pubsub"]
hosts = ["all"]

[ipc]
path = "{{parity_home}}/.local/share/io.parity.ethereum/jsonrpc.ipc"

[dapps]
path = "{{parity_home}}/.local/share/io.parity.ethereum/dapps"

[secretstore]
path = "{{parity_home}}/.local/share/io.parity.ethereum/secretstore"