{% if vars['influxdb_addresses'] is defined %}
[influxdb]
urls = [ {{ vars['influxdb_addresses'] | map('to_json') | join(",") }} ]
{% endif %}

[targets]
{% for role in vars['target_roles'] %}
[targets.{{role}}]
urls = [ {{ vars['target_addresses'][role] | map('to_json') | join(",") }} ]
{% endfor %}