{% if vars['influxdb_addresses'] is defined %}
[influxdb]
urls = [ {{ vars['influxdb_addresses'] | map('to_json') | join(",") }} ]
{% endif %}

[targets]
urls = [ {{ vars['target_addresses'] | map('to_json') | join(",") }} ]