[Unit]
Description=Ethereum Geth client
After=network.target

[Service]
User=geth
Group=geth

Type=simple
ExecStart=/usr/bin/geth \
--config /tmp/home/geth/config.toml \
--metrics \
--metrics.influxdb \
--metrics.influxdb.endpoint "http://{{ hostvars[groups['dashboard'][0]]['ansible_' + blockchain_network]['ipv4']['address'] }}:8086" \
--metrics.influxdb.username admin \
--metrics.influxdb.password admin \
--metrics.influxdb.tags "host={{ inventory_hostname }}" \
{% if activate_mining %}
--mine \
--miner.threads 10 \
--etherbase {{account_address}}
{% else %}

{% endif %}
Restart=always
TimeoutStopSec=120s
TimeoutStartSec=20s
RestartSec=15s
StartLimitInterval=4h
StartLimitBurst=500

[Install]
WantedBy=multi-user.target